.preview{
   /* margin-left: 2rem; */
   text-align: center;
}

.clickItem{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.previewDetail{
    margin-top:6px;
}

.bookDetail{
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}