

.content{
  overflow: hidden;
}

  
header,
nav,
article,
aside,
footer {
    border: 1px solid #000;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Open Sans;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 1000px;
    overflow: hidden;
}

header {
    height: 50px;
}

main {
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 88vh;
}

main > nav {
   min-width: 200px;
}

main > article {
    flex: auto;
    overflow-y: auto;
}

main > aside {
    min-width: 280px;
    max-width: 280px;
    overflow-y: auto;
}

footer {
    height: 25px;
}

.footer{
    text-align: center;
    color: blue;
}